.container {
    position: relative;
}
input[type="file"] {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  input[type="file"]:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7); 
  }
  
  button {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.7); 
  }
  