<div *ngIf="error$ | async as error" class="alert alert-danger mt-3">{{ error }}</div>

<div class="container" *ngIf="history$ | async as history; else noHistory">
  <div *ngIf="history.length > 0">
    <hr class="text-white"/>
    <h5 class="ml-4 text-white mb-2">History:</h5>
    <div class="d-flex flex-wrap">
      <div *ngFor="let item of history; let i = index" class="m-2" (click)="restoreHistory(i)" style="cursor: pointer;">
        <img
          [src]="item.image"
          class="img-thumbnail"
          alt="Thumbnail"
          style="width: 100px; height: 100px; object-fit: cover;"
        />
      </div>      
    </div>
  </div>
</div>

<ng-template #noHistory>
  <div class="alert alert-info mt-3 text-white">
    No history available.
  </div>
</ng-template>
